* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(34, 34, 34);
}

header ul {
    display: flex;
    list-style: none;
}

header h1 a {
    text-transform: uppercase;
    user-select: none;
    font-weight: 800;
    color: red;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

header h1 a:hover {
    color: rgb(153, 0, 0);
    text-shadow: 1px 1px 0 red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1vw 0 1vw 3vw;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

header ul img {
    width: 1.1vw;
}

header ul a {
    text-decoration: none;
    color: #fff;
    margin-right: 3vw;
    font-weight: 700;
    text-transform: uppercase;
    transition: border 0.3s ease;
    padding: 0.4vw 0.7vw;
    border-radius: 0.7vw;
    border: 2px solid rgb(203, 0, 0);
    transition: border-color 0.3s ease, background 0.3s ease, color 0.3s ease;
    background: red;
}

header ul a:hover {
    background: rgb(153, 0, 0);
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

#product-display {
    margin-top: 6vh;
    width: 85vw;
    display: flex;
    margin-bottom: 21vh;
}

#product-display img {
    width: 55vw;
}

#ptitle {
    color: #fff;
    font-size: 4.5vw;
    margin-left: 2vw;
}

#pprice {
    color: #fff;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
    font-size: 1.7vw;
}

#cart {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 2vw;
    font-size: 1vw;
    text-decoration: none;
    transition: border 0.3s ease;
    padding: 0.4vw 0.7vw;
    border-radius: 0.7vw;
    border: 2px solid rgb(214, 214, 0);
    transition: border-color 0.3s ease, background 0.3s ease, color 0.3s ease;
    background: yellow;
}

#cart img {
    width: 1.1vw;
}

#cart:hover {
    background: rgb(162, 162, 0);
    border-color: yellow;
}

#rec-products {
    margin-top: 6vh;
    width: 85vw;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
}

.product {
    margin-bottom: 4vh;
}

.product img {
    width: 20vw;
    transition: width ease 0.3s;
    cursor: pointer;
}

.product p {
    color: #fff;
}

.price {
    margin-top: 1.1vh;
}

.pname {
    margin-top: 0.4vh;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 390px) {
    .product img {
        width: 40vw;
    }
    .pname {
        width: 40vw;
    }
    #rec-products {
        grid-template-columns: auto auto;
    }
    header h1 {
        font-size: 7vw;
        width: 100vw;
        text-align: center;
    }
    header ul {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 8.5%;
        width: 100vw;
        justify-content: center;
    }
    header ul li {
        font-size: 3vw;
    }
    #product-display {
        margin-top: 8vh;
        margin-bottom: 21vh;
        display: block;
    }

    #display-img {
        width: 100%;
        display: flex; 
        justify-content: center;
    }
    
    #display-img img {
        width: 80vw;
    }

    header ul img {
        width: 2.75vw;
    }
    header {
        padding: 0;
    }
    #ptext {
        text-align: center;
    }
    #ptitle {
        margin-top: 1vh;
        font-size: 7vw;
    }
    #pprice {
        margin-left: 0;
        margin-top: 1.5vh;
        margin-bottom: 2vh;
        font-size: 5vw;
        display: inline-block;
    }
    #cart {
        font-size: 3.5vw;
    }
    
    #cart img {
        width: 3.6vw;
    }
}

@media screen and (max-width: 850px) {
    .product img {
        width: 25vw;
    }
    .pname {
        width: 25vw;
    }
    #rec-products {
        grid-template-columns: auto auto auto;
    }
    #product-display {
        margin-top: 8vh;
        margin-bottom: 21vh;
        display: flex;
    }

    header ul img {
        width: 2.25vw;
    }
    #ptitle {
        margin-top: 1vh;
        font-size: 4vw;
    }
    #pprice {
        font-size: 3vw;
    }
    #cart {
        font-size: 1.4vw;
    }
    
    #cart img {
        width: 1.7vw;
    }
}