* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(34, 34, 34);
}

header ul {
    display: flex;
    list-style: none;
}

header h1 a {
    text-transform: uppercase;
    user-select: none;
    font-weight: 800;
    color: red;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

header h1 a:hover {
    color: rgb(153, 0, 0);
    text-shadow: 1px 1px 0 red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1vw 0 1vw 3vw;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

header ul img {
    width: 1.1vw;
}

header ul a {
    text-decoration: none;
    color: #fff;
    margin-right: 3vw;
    font-weight: 700;
    text-transform: uppercase;
    transition: border 0.3s ease;
    padding: 0.4vw 0.7vw;
    border-radius: 0.7vw;
    border: 2px solid rgb(203, 0, 0);
    transition: border-color 0.3s ease, background 0.3s ease, color 0.3s ease;
    background: red;
}

header ul a:hover {
    background: rgb(153, 0, 0);
}

main {
    height: 100%;
    position: relative;
}

main div {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -75%);
    text-align: center;
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
}

main div h1 {
    border-bottom: 1px solid #ccc;
}

main div p {
    padding-top: 0.3vh;
    font-weight: 500;
}

main div a {
    color: red;
    transition: color ease 0.3s;
    text-decoration: none;
}

main div a:hover {
    color: rgb(153, 0, 0);
}

#background {
    width: 100%;
    height: 91.7vh;
    overflow: hidden;
    position: absolute;
    object-position: right;
    background: url(background-image.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

@media screen and (max-width: 390px) {
    header h1 {
        font-size: 7vw;
        width: 100vw;
        text-align: center;
    }
    header ul {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 8.5%;
        width: 100vw;
        justify-content: center;
    }
    header ul li {
        font-size: 3vw;
    }
    header ul img {
        width: 2.75vw;
    }
    header {
        padding: 0;
    }
    main div h1 {
        width: 75vw;
        font-size: 8vw;
    }
}